name: Deploy PHP Application to Cpanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Get latest code
      uses: actions/checkout@v4

    - name: Sync files to Cpanel
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: ftp.serverbyt.in
        username: dev@stss.in
        password: ${{ secrets.FTP_PASSWORD }}
        server-dir: demo/leadsadbricks/   # <-- must end with /
        local-dir: ./                      # <-- must end with /
        exclude: |
          .github/**
          tests/**
          node_modules/**
          vendor/**
          admin/**
