name: Deploy PHP Application to cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to cPanel via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ftp.serverbyt.in
          username: dev@stss.in
          password: jaya91599@

          protocol: ftp       # REQUIRED
          port: 21            # Standard FTP port
          timeout: 600        # More stable

          local-dir: ./
          server-dir: leads/

          exclude: |
            .github/**
            tests/**
            node_modules/**
            vendor/**
            admin/**
            .git/**
            *.md

          log-level: verbose
