name: Deploy PHP Application to Cpanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SFTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          protocol: sftp
          server: ftp.stss.in
          username: stss.in
          password: 'cTL}}Ys@5GF'
          server-dir: demo/
          local-dir: ./
          exclude: |
            .github/**
            tests/**
            node_modules/**
            vendor/**
            admin/**
